{{! I'm the 'conversation-details' partial.
My job is to display the
details of the conversation
e.g., profile picture, username,
timestamp, message text preview
 }}

{{!--
TODO:
    [ ]: use a list item tag <li> to wrap the details
    [ ]: use a div to divide the li into 3 columns
            (profile pic, message content, delete icon)
    [ ]: the profile pic should have a div with an img tag
            the img tag's src should reference the user's image src="/images/{{pfp}}"
    [ ]: the message content should have the: username, timestamp & message text
    [ ]: and the last column should have a div with the delete icon center-aligned
 --}}
<li>
        <div class="avatar">
               {{!-- <img src="/images/{{pfp}}"> --}}
        </div>

        <div class="message-content">

               message: username timestamp and message text
        </div>
        <div class="deletebtn">
               <button type="button" class="delete-btn"><i class="fa fa-trash"></i></button>
        </div>
</li>
