<div class='text-end mx-3'>
  <p class='fw-bold ts-5 lh-1 my-1'>{{user.username}}</p>
  <p class='ts-6 lh-1 text-secondary'>{{formatTime created_at}}</p>
</div>
<div
  class='position-relative flex-grow-1 text-secondary bg-light px-2 py-3 rounded-3 rounded-start'
>
  <svg
    width='2em'
    height='2.1em'
    viewBox='0 0 16 8'
    class='position-absolute top-0 start-0 translate-middle bi bi-caret-down-fill'
    fill='#f8f9fa'
    xmlns='http://www.w3.org/2000/svg'
  >
    <path
      d='M7.247 11.14L2.451 5.658C1.885 5.013 2.345 4 3.204 4h9.592a1 1 0 0 1 .753 1.659l-4.796 5.48a1 1 0 0 1-1.506 0z'
    ></path>
  </svg>
  {{message_text}}
</div>
