<li class='list-group-item border-0 py-2 px-0'>
  <div class='d-flex align-items-center justify-content-center'>
    {{!-- {{user.id}} TODO: check sender_id--}}
  {{#if (isSender user.id 1 )}}
    {{> message-left}}
  {{else}}
    {{> message-right}}
  {{/if}}
  </div>
</form>
