<li class='list-group-item border-0'>
  <div class='row'>
    <div class='col'>
      <p>{{user.username}}</p>
    </div>
    <div class='col-10'>
      <p class='bg-light px-3 py-2 rounded-3 fw-light'>
        {{message_text}}</p>
    </div>
  </div>
</li>
