{{! TODO:
    [ ]: design the layout for the message here
    [ ]: include  profile pic, username, timestamp & message text
    [ ]: conditionally assign a class if the user is 'sender'
         so that the message will format right-aligned,
         otherwise it will be left-aligned
}}


{{!-- optional back button instead of nav bar (?)

<div class='back-btn'>
  <button type='button' class='back'>
    <i class='fas fa-chevron-circle-left'></i>
  </button>
</div>

--}}

<form class='message-form'>

  <div>
    <textarea name='message-body'></textarea>
  </div>

  <div class='send-btn'>
    <button type='button' class='send'>
      <i class='fas fa-arrow-alt-circle-up'></i>
    </button>
  </div>

</form>
