<li class='list-group-item border-0'>
  <div class='row'>
    {{!-- {{user.id}} TODO: check sender_id--}}
    <div class='col text-end'>
      <p class='text-end fw-bold ts-5 lh-1 my-1'>{{user.username}}</p>
      <p class='ts-6 lh-1'>{{formatTime created_at}}</p>
    </div>
    <div class='col-10'>
      <p class='bg-light px-3 py-2 rounded-3 fw-light'>
        {{message_text}}</p>
    </div>
  </div>
<<<<<<< HEAD

  <div class='send-btn'>
    <button type='button' class='send'>
      <i class="bi bi-arrow-up-circle-fill"></i>
    </button>
  </div>

</form>
=======
</li>
>>>>>>> 6f94fb0ed37dfcbfff91f4596fd97df11ad68e0e
