{{! TODO:
    [ ]: design the layout for the message here
    [ ]: include  profile pic, username, timestamp & message text
    [ ]: conditionally assign a class if the user is 'sender'
         so that the message will format right-aligned,
         otherwise it will be left-aligned
}}


{{!-- optional back button instead of nav bar (?)

<div class='back-btn'>
  <button type='button' class='back'>
    <i class='fas fa-chevron-circle-left'></i>
  </button>
</div>

--}}

<form class='message-form'>
<input type="text" class="sender" placeholder="tella">
    <button type='submit' class='send'>
      <i class="bi bi-arrow-up-circle-fill"></i>
    </button>
</form>

<div class="sender">
{{message}}
</div>




<script src="/public/scripts/message.js"></script>
