{{!--
 TO-DO
 {} plus sign button for adding new contact/creating new message
 {} textbox for contact entry/existing contact list appears
 {} textbox for conversation topic
--}}

<form class="new-conversation">
    <button><i class="bi bi-plus-circle-fill"></i></button>
    

</form>
