{{!--
I'm the 'home' view.
Handlebars embeds me in
the {{{body}}} tag of the
'main' layout. So the
header / footer will
wrap around me.
 --}}

{{! TODO:
    [*]: add an asterisk inside when the task is complete
    [ ]: use the handlebars built-in '#each'
         to show each 'conversation'
    [ ]: then add the conversation-details
         partial
     [ ]: 'new conversation' button - pick contact & create new conversation
  }}

<div class="w-100 w-md-none mb-3 text-end">
     <button class="btn btn-primary new-conversation-btn">new conversation</button>
</div>
<section class="card h-75 rounded-3">
     <h2 class="card-header bg-light ">conversations</h2>
     <ol class="list-group overflow-scroll h-100">
          {{#each conversations as |conversation|}}
          {{> conversation-details}}
          {{/each}}
     </ol>
</section>
