{{!--
I'm the 'home' view.
Handlebars embeds me in
the {{{body}}} tag of the
'main' layout. So the
header / footer will
wrap around me.
 --}}

{{! TODO:
    [*]: add an asterisk inside when the task is complete
    [ ]: use the handlebars built-in '#each'
         to show each 'conversation'
    [ ]: then add the conversation-details
         partial
  }}

<h1>testing tella</h1>
{{! ⬆ you may delete me, I'm just making sure the page loads and shows content :D }}

<section class="card">
     <h2 class="card-header">conversations</h2>
     <ol class="list-group">
          {{#each conversations as |conversation|}}
          {{> conversation-details}}
          </li>
          {{/each}}
     </ol>
</section>
