<section class="card h-75 rounded-3">
     <h2 class="card-header bg-light ">conversations</h2>
     <ul class="list-group list-group-flush overflow-scroll h-100">
          {{#each conversations as |conversation|}}
               {{> conversation-details}}
          {{/each}}
     </ul>
</section>
<div class="d-flex mt-3 justify-content-end">

          <a href="/new-conversation" class="col col-md-3 btn btn-primary new-conversation-btn text-white" style="text-decoration: none;">new conversation</a>

</div>

{{!-- {{#if loggedIn}}
<script src="/scripts/index.js"></script>
{{/if}} --}}
