<form class='login-form'>
  <div>
    <label for='email-login' class='form-label'>email:</label>
    <input type='text' id='email-login' class='form-control' />
  </div>
  <div>
    <label for='password-login' class='form-label'>password:</label>
    <input type='password' id='password-login' class='form-control' />
  </div>
  <div class='text-end'>
    <a href='/signup' class='fw-light btn text-primary'>register / sign-up</a>
  </div>
  <div>
    <button type='submit' class='btn btn-primary w-100 mt-3'>login</button>
  </div>
</form>

<script src='/scripts/login.js'></script>
