<body>
  <div class="container">
    <div class="row">
      <form action="/" method="post" role="form" enctype="application/x-www-form-urlencoded">
        <h1>signup</h1>

        <div class="input-form">
          <label for="username">username:</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="sample-user">
        </div>


        <div class="input-form">
          <label for="email">email:</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="sample@email.com">
        </div>

        <div class="input-form">
          <label for="pw">password:</label>
          <input type="password" class="form-control" id="pw" name="pw" placeholder="********">
        </div>

        <div class="input-form">
          <label for="pw-confirm">confirm password:</label>
          <input type="password" class="form-control" id="pw_confirm" name="pw_confirm" placeholder="********">
        </div>

        <button type="submit" class="btn btn-primary">register</button>

      </form>
    </div>
  </div>
</body>
