<form class='signup-form'>
  <div>
    <label for='username-signup' class='form-label'>username:</label>
    <input type='text' id='username-signup' class='form-control' />
  </div>
  <div>
    <label for='email-signup' class='form-label'>email:</label>
    <input type='text' id='email-signup' class='form-control' />
  </div>
  <div>
    <label for='password-signup' class='form-label'>password:</label>
    <input type='password' id='password-signup' class='form-control' />
  </div>
  <div class='text-end'>
    <a href='/login' class='fw-light btn text-primary'>login</a>
  </div>
  <div>
    <button type='submit' class='btn btn-primary w-100 mt-3'>signup</button>
  </div>
</form>

<script src='/javascript/signup.js'></script>
