.rounded-4 {
  border-radius: 0.5rem !important;
}

.rounded-5 {
  border-radius: 0.75rem !important;
}

.rounded-6 {
  border-radius: 1rem !important;
}

/* custom background color styles */
.bg-sender {
  background: #8ff;
}

.bg-main {
  background: #47f;
}

.text-main {
  color: #47f;
}
